.contact-container {
    background-color: #1D1D1D;
}

.contact-container .contact-content {
    display: flex;
    padding: 0 9%;
}

.contact-container .contact-content .left-contact {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.contact-container .contact-content .left-contact .social-mark-c {
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 20px;
    margin-top: 5%;
}
.contact-container .contact-content .left-contact .social-mark-c img {
    height: 100%;
}
.contact-container .contact-content .left-contact p {
    width: 50%;
    margin-top: 2%;
}

.contact-container .contact-content .right-contact {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 0 5%;
}
.contact-container .contact-content .right-contact .cbutton-container {
    margin-top: 50px;
}