.joinBeta {padding:100px;}
.joinBeta.background{background-image: url('./assets/black_bg.png');background-position: center;background-size: cover;background-repeat: no-repeat;}
.joinBeta .title{font-weight: bold;font-size: 40px;width: 60%;margin: auto;}
.joinBeta .button{margin-top: 80px;}
