.about-container {
    background-color: #1D1D1D;
}
.about-container .meet-team-container {
    position: relative;
    padding: 7% 0;
}

.about-container .meet-team-container .meet-team-content {
    display: flex;
}

.about-container .meet-team-container .meet-team-content .left-team-content {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.about-container .meet-team-container .meet-team-content .left-team-content .team-member-card {
    margin-left: 10%;

}

.about-container .meet-team-container .meet-team-content .right-team-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    padding-left: 3%;
    
}
.about-container .mission-container {
    display: flex;
    align-items: center;
    height: 80vh;
    background-image: url('../../assets/images/about/our-mission.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
.about-container .mission-container img {
    
    visibility: hidden;
}
.about-container .mission-container .support-3-container {
    margin-bottom: 0;
}
/* Help Company */
.about-container .help-company-container {
    position: relative;
    margin-top: 30vh;
    height: 60vh;
    background-color: #272727;
}
.about-container .help-company-container .help-company-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    height: 75vh;
    width: 60%;
    left: 20%;
    top: -35vh;
}
.about-container .help-company-container .help-company-content .image-card-container {
    position: relative;
}
.about-container .help-company-container .help-company-content .image-card-container img {
    
    width: 100%;
}
.about-container .join-competition-container {
    margin-top: 0;
}