.contact {background: #f2f2f2;padding:100px;}
.contact .title{font-weight: bold;font-size: 40px;width: 60%;margin: auto;}
.contact .text-box{width:40%;margin: auto;line-height: 30px;margin-top: 40px;}
.contact .button{margin-top: 40px;width: 400px;}
.contact .brand-button-text{color:#000;font-weight: bold;}
