.team-card-container {
    display: flex;
}

.team-card-container .image-content {
    width: 50%;
}
.team-card-container .image-content img {
    width: 100%;
}
.team-card-container .resume-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 7%;
    background-color: #0E0E0E;
}