.modal-backdrop{background-color: rgb(255,255,255)!important;opacity: 0.8 !important}
.make-application-modal {margin-top:12.5rem;}
.make-application-modal .modal-content{background: #f2f2f2;padding:40px;padding-top: 60px;}
.make-application-modal .control-label{font-weight: bold;}
.make-application-modal .title{font-size: 32px;margin-bottom: 20px;}
.make-application-modal .sub-title{font-size: 15px;margin-bottom: 40px;}
.make-application-modal .form-control{border:1px solid #e6e6e6;padding-top: 10px;}
.make-application-modal .form-control:focus{border:1px solid #e6e6e6;box-shadow: none}
.make-application-modal button{margin:auto;margin-top: 20px;width:320px;}
.make-application-modal button p{margin:0px;font-size: 15px;}
.make-application-modal .close-modal{position: absolute;top:-25px;right: -10px;cursor: pointer;}
.make-application-modal .close-modal img{width: 25px;}
.make-application-modal .has-success .form-control{border-color: #3c763d;}
.make-application-modal .has-warning .form-control{border-color: #8a6d3b;}
.make-application-modal .has-error .form-control{border-color: #a94442;}
.fade.in{opacity: 1;}
.downloadImg{max-width: 550px}
@media (min-width: 481px) and (max-width: 767px) {
	.navRight{margin-top: 20px;margin-left:20px;text-align: center;}
	.social{margin-left: 10px}
}
@media (min-width: 320px) and (max-width: 480px) {
	.navRight{margin-top: 20px;margin-left:20px;text-align: center;}
	.social{margin-left: 10px}
}