.alice-carousel {
    padding: 0;
    height: 100%;
}

.alice-carousel > div {
    height: 100%;
}
.alice-carousel .alice-carousel__wrapper {
    height: 100%;
    /* width: 110%; */
    border: none;
}

.alice-carousel .alice-carousel__wrapper li {
    
}