.cbutton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    background-color: transparent;
}

.cbutton-container:hover {
    border-color: yellow;
    cursor: pointer;
}

.cbutton-container label {
    margin: 0;
    color: white
}