.footer {background: #2b2b2b;padding:10px;font-size: 12px;}
.footer p{margin:0px;padding-top: 10px;}
.footer a{margin:0px;padding-top: 10px;display: inline-block;}
.footer .logo{display: inline-block;width: 180px;}
.footer .copyright{color:#929292;}
