.questions {padding:100px;}
.questions.background{background-image: url('./assets/yellow_bg.jpg');background-position: center;background-size: cover;background-repeat: no-repeat;}
.questions .accordion{width: 80%;margin: auto;}
