.team{background: #f2f2f2;padding:100px}
.team .member-image{width:200px}
.team .member-name{font-size: 25px;margin-top:10px;margin-bottom: 0px;}
.team .member-details{width:70%;margin: auto;letter-spacing: 2px;}
