.favorites {padding:100px;}
.favorites.background{background-image: url('./assets/black_bg.png');background-position: center;background-size: cover;background-repeat: no-repeat;}
.favorites .title{font-weight: bold;}
.favorites .content{margin-top: 80px;}
.favorites .grid-image{width:330px}
.favorites .grid-title{font-size: 30px;letter-spacing: 4px;margin-top: 20px;margin-bottom: 10px;}
.favorites .grid-text{line-height: 24px;letter-spacing: 2px;font-size:15px;width: 80%;margin: auto;}
.favorites .row-one{margin-bottom: 60px;}
.favorites .column{padding: 0px 100px;}
.favorites .highlight{border:2px solid #efc22e;padding:20px 40px;border-radius: 100px;width:70%;margin:auto;margin-top: 50px;}
.favorites .highlight-title{letter-spacing: 4px;}
.favorites .highlight-text{line-height: 30px;font-size: 18px;letter-spacing: 4px;}
