.banner {height:100vh;}
.banner.background{background-image: url('./assets/banner.png');background-position: center;background-size: cover;background-repeat: no-repeat;}
.content-center{justify-content: center;align-items: center;vertical-align: middle;text-align: center;display: flex;}
.banner .content{width:60%}
.banner .content .content-text{line-height:20px;letter-spacing: 0px;}
.banner .content .description{width:70%;margin:0px auto;}
.contentText{color:#fff;}
.downloadButton{padding: 15px!important;}
.downloadButtonWrapper{padding-top: 15px!important;}
.cleanHref{text-decoration: none!important;-webkit-box-shadow: none!important;box-shadow: none!important;}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.bounce {
  -webkit-animation: bounce 2s forwards ease infinite;
  animation: bounce 2s forwards ease infinite;
}