.terms {background: #f2f2f2;padding:100px;padding-bottom: 200px}
.terms .sections{width:80%;margin:auto;}
.terms .section-text{line-height: 24px;}
.terms .sections .sub-section{margin-top: 20px;}
.terms .sub-section-text-box ul li{line-height: 24px;letter-spacing: 2px;}
