/* Support Container  */
.support-3-container {
    display: flex;
}

.support-3-container .support-textarea-s {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.support-3-container .download-support-m {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.support-3-container .support-textarea-l {
    display: flex;
    flex-direction: column;
    width: 30%;
}