.home-container {
    
}
/* Join Challenge */
.home-container .join-challenge-container {
    display: flex;
    
    background-color: aqua;
}

.home-container .join-challenge-container .join-challenge {
    width: 100%;
}

.home-container .join-challenge-container .join-social {
    width: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
/* About Platform  */
.home-container .about-platform-container {
    display: flex;
    background-color: beige;
}

.home-container .about-platform-container .about-platform {
    display: flex;
    width: 50%;
}

.home-container .about-platform-container .howitworks-video {
    width: 50%;
    position: relative;
}
.home-container .about-platform-container .howitworks-video .video-textarea {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 6%;
    bottom: 10%;
    color: wheat;
}


/* Working Us */
.home-container .working-us-container {
    display: flex;
    height: 30%;
}

.home-container .working-us-container .support-textarea {
    display: flex;
    width: 30%;
    flex-direction: column;
    background-color: blueviolet;
}

