.home-container {
    
}
/* Join Challenge */
.home-container .join-challenge-container {
    display: flex;
    
    background-color: aqua;
}

.home-container .join-challenge-container .join-challenge {
    width: 100%;
}

.home-container .join-challenge-container .join-social {
    width: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
/* About Platform  */
.home-container .about-platform-container {
    display: flex;
    background-color: beige;
}

.home-container .about-platform-container .about-platform {
    display: flex;
    width: 50%;
}

.home-container .about-platform-container .howitworks-video {
    width: 50%;
    position: relative;
}
.home-container .about-platform-container .howitworks-video .video-textarea {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 6%;
    bottom: 10%;
    color: wheat;
}
/* Game Support */
.home-container .game-support-container {
    display: flex;
    position: relative;
    height: 50vh;
}

.home-container .game-support-container .support-textarea, .why-us-container .support-textarea {
    display: flex;
    width: 40%;
    flex-direction: column;
    background-color: blueviolet;
}

.home-container .game-support-container .game-support-addgame {
    width: 60%;
    height: 100%;
    background-color: yellow;
}
.home-container .game-support-container .game-panel {
    position: absolute;
    width: 70%;
    height: 70%;
    right: 0;
    margin: 5% 0 auto auto;
    background-color: blue;
}
/* Why Us  */
.home-container .why-us-container {
    display: flex;
}
.home-container .why-us-container .support-componentarea, .support-component-container .support-componentarea {
    display: flex;
    width: 60%;
}
/* Support Component */
.home-container .support-component-container {
    display: flex;
}
.home-container .support-component-container .left-componentarea {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
/* Working Us */
.home-container .working-us-container {
    display: flex;
    height: 30%;
}

.home-container .working-us-container .support-textarea {
    display: flex;
    width: 30%;
    flex-direction: column;
    background-color: blueviolet;
}

/* Join Compotition */
.home-container .join-competition-container {
    display: flex;
}

.home-container .join-competition-container .competition-textarea {
    display: flex;
    flex-direction: column;
}