.footer-container {
    display: flex;
    height: 45vh;
    background-color: #171717;
 
}
/* Left Footer  */
.footer-container .left-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    padding-top: 6%;
    padding-bottom: 3%;
}

.footer-container .left-footer .social-mark {
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 8%;
}
.footer-container .left-footer .social-mark img {
    height: 100%;
}
/* Right Footer */
.footer-container .right-footer {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.footer-container .right-footer .top-right-footer {
    height: 70%;
    display: flex;
}

.footer-container .right-footer .top-right-footer .link-area {
    display: flex;
    padding: 8% 0 0 0;
    width: 60%;
}
.footer-container .right-footer .top-right-footer .link-area a {
    color: #FFFFFF;
    font-size: 18px;
}

.footer-container .right-footer .top-right-footer .link-area .link-area-label {
    width: 25%;
}

.footer-container .right-footer .top-right-footer .link-area .link-area-company {
    color: white;
}
.footer-container .right-footer .top-right-footer .link-area .link-area-company h1 {
    font-size: 24px;
    font-weight: 700;
}
.footer-container .right-footer .top-right-footer .link-area .link-area-company p {
    font-size: 18px;
}
.footer-container .right-footer .top-right-footer .mail-area {
    display: flex;
    align-items: center;
    width: 40%;
}
.footer-container .right-footer .top-right-footer .mail-area .ninput-container {
    width: 70%;
}
.footer-container .right-footer .top-right-footer .mail-area input {
    height: 50px;
    border-color: #707070;
}
.footer-container .right-footer .top-right-footer .mail-area input::placeholder {
    color: #BEBEBE;
    font-size: 18px;
}
.footer-container .right-footer .top-right-footer .mail-area img {
    margin-left: 15px;
}
.footer-container .right-footer .bottom-right-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30%;
    background-color: #0E0E0E;
}
.footer-container .right-footer .bottom-right-footer a {
    color: #BEBEBE;
    font-size: 14px;
    margin-right: 1%;
}
.footer-container .right-footer .bottom-right-footer label {
    color: #8F8F8F;
    font-size: 14px;
    margin-right: 10%;
    margin-bottom: 0;
    font-weight: 400;
}