/* Benefits  */
.benefits-container {
    padding: 0 9%;
}
.benefits-container .support-component-container {
    display: flex;
    margin: 8% 0;
}
.benefits-container .support-component-container .support-textarea {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.benefits-container .support-component-container .left-componentarea {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

.benefits-container .support-component-container .support-componentarea {
    display: flex;
    width: 60%;
}