.help-container {
    background-color: #1D1D1D;
}

.help-container .text-content-t {
    display: flex;
    align-items: center;
    margin-top: 130px;
    height: 40vh;
    width: 70%;
    margin: 0 auto;
}

.help-container .text-content-h {
    width: 54%;
    margin: 0 auto;
}

.help-container .text-content-m {
    display: flex;
    align-items: center;
    width: 65%;
    margin: 0 auto;

}

.help-container .text-content-m p {
    margin: 5%;
}

.help-container .image-content-h {
    width: 70%;
    margin: 5% auto;
}
.help-container .image-content-h img {
    width: 100%;
    height: auto;
}
.help-container .text-content-e {
    display: flex;
    width: 50%;
    margin: 0 auto;
}
